#a{
    background-color: chocolate;
    width: 221px;
    color: aliceblue;
    font-size: 16px;
}
#b{
    font-size: 12px;
    width: 300px;
    
}
#c{
    background-color: skyblue;
    width: 400px;
}